[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[pull]
	rebase = true
[init]
	defaultBranch = master
[user]
	name = Shawn Yeager
	email = shawn@shawnyeager.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBlfy54DRQIHkd8RNy4iaoWa9cV+2p2N3LE8l32MlBMn
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[gpg]
	format = ssh
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[url "git@github.com:"]
	insteadOf = https://github.com/
