[Desktop Entry]
Version=1.0
Name=Apple Music
Comment=Apple Music
Exec=omarchy-launch-webapp "https://beta.music.apple.com"
Terminal=false
Type=Application
Icon=/home/shawn/.local/share/applications/icons/Apple Music.png
StartupNotify=true
