[Desktop Entry]
Version=1.0
Name=Proton Mail
Comment=Proton Mail
Exec=omarchy-launch-webapp "https://mail.proton.me/u/0/"
Terminal=false
Type=Application
Icon=/home/shawn/.local/share/applications/icons/Proton Mail.png
StartupNotify=true
