[Desktop Entry]
Version=1.0
Name=Proton Calendar
Comment=Proton Calendar
Exec=omarchy-launch-webapp "https://calendar.proton.me/u/0/"
Terminal=false
Type=Application
Icon=/home/shawn/.local/share/applications/icons/Proton Calendar.png
StartupNotify=true
