[Desktop Entry]
Version=1.0
Name=Slack
Comment=Slack
Exec=omarchy-launch-webapp https://app.slack.com/client/
Terminal=false
Type=Application
Icon=/home/shawn/.local/share/applications/icons/Slack.png
StartupNotify=true
