[Desktop Entry]
Version=1.0
Name=Todoist
Comment=Todoist
Exec=omarchy-launch-webapp "https://app.todoist.com"
Terminal=false
Type=Application
Icon=/home/shawn/.local/share/applications/icons/Todoist.png
StartupNotify=true
